<section class="container">
    <article id="biographie">
        <div class="item">
            <div>
                Hektor (2019, Saint-Camille, Canada), réalise des installations, des oeuvres d'art médiatique. En appliquant un langage poétique et souvent métaphorique, Hektor étudie la dynamique du paysage, y compris la manipulation de ses effets et ses limites à partir de nos hypothèses et sur ce que le paysage signifie pour nous. Plutôt que de représenter une réalité factuelle, une illusion est fabriquée pour détourner notre attention.
            </div>
            <div>
                Ses oeuvres apparaissent commes des images oniriques où fiction et réalité se rencontrent, les métaphores se confondent, les significations se décalent, le passé et le présent fusionnent.
            </div>
            <div>
                Le temps et la mémoire jouent toujours un rôle clé. En explorant le concept du paysage de façon nostalgique, il veut amplifier l'étonnement du spectateur en créant des compositions ou des décors qui génèrent des images poétiques tranquilles qui laissent des traces et des équilibres à la limite de la reconnaissance et de l'aliénation.
            </div>
        </div>
        <div class="item">
            <div>
                Ses oeuvres établissent un lien entre la réalité du paysage et et celle imaginée par son concepteur. Ses travaux se concentrent sur des questions concrètes qui déterminent notre existence. À l'aide de matériaux appropriés empruntés à un contexte quotidien, il présente le quotidien ainsi que des références à des textes, à la peinture et à l'architecture. Des écrits et des constructions utopiques sont juxtaposés à ces espaces communs.
            </div>
            <div>
                En appliquant des combinaisions spécifiques et certaines manipulations, différentes fonctions et/ou contextes sont crées. Les catégories sont subtilement inversées. Il crée des situations dans lesquelles le quotidien est altéré ou détaché de sa fonction naturelle.
            </div>
        </div>
    </article>
</section>
<footer class="container">
    <div class="credits petit-texte">
        Généré par 500letters.org et traduit par DeepL
    </div>
</footer>
