<section id="splash" class="container">
    <img src="<%= @image %>" alt="Paysage de Saint-Camille par l’artiste Hektor">
    <h2>
        Description de l'image
    </h2>
</section>
<footer></footer>
