<section id="splash">
    <div id="banner">
        <% if @prev %>
            <div id="nav-left" class="nav-arrow">
                <a href="<%= @prev %>"><img src="/images/arrow.svg" alt="fleche de navigation" style="transform: rotate(180deg);"></a>
            </div>
        <% end %>
        <% if @next %>
            <div id="nav-right" class="nav-arrow">
                <a href="<%= @next %>"><img src="/images/arrow.svg" alt="fleche de navigation"></a>
            </div>
        <% end %>
        <div id="presentation-image">
            <img src="<%= @image %>" alt="Paysage de Saint-Camille par l’artiste Hektor">
        </div>
    </div>
    <h2 style="font-weight: normal;">
        <%= p @image.match(/saintcamille_(\w{5})/)[1] %> - 2019. Paysage de Saint-Camille. | <a href="https://creativecommons.org/licenses/by/4.0/deed">CC 4.0</a>
    </h2>
</section>
<footer></footer>
