<section class="container">
    <article id="pratique">
        <div class="item">
            <h2>À propos du projet</h2>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tristique urna non nibh tristique, sed venenatis enim bibendum. Vestibulum mauris felis, tincidunt in hendrerit nec, tincidunt quis massa. Aenean eu volutpat quam. Proin bibendum sodales ante, quis ultrices lacus pellentesque ut. Etiam dignissim egestas auctor. Fusce ut tempor velit, eu varius sem. Nam non vestibulum orci. In eget imperdiet turpis, in eleifend nulla. Ut malesuada tincidunt nisl, vel interdum eros egestas rutrum. Integer placerat venenatis est non malesuada. Proin volutpat diam sapien, et consequat nibh aliquam molestie. Cras placerat orci ut turpis placerat euismod. Mauris a vestibulum nibh. Integer dignissim auctor purus a placerat. Praesent velit ipsum, egestas ut justo ac, vulputate suscipit leo. Praesent placerat magna id justo tincidunt consequat.
        </div>
        <div class="item">
            <h2>Isabelle Gagné</h2>
            <div> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tristique urna non nibh tristique, sed venenatis enim bibendum. Vestibulum mauris felis, tincidunt in hendrerit nec, tincidunt quis massa. Aenean eu volutpat quam. Proin bibendum sodales ante, quis ultrices lacus pellentesque ut. Etiam dignissim egestas auctor. Fusce ut tempor velit, eu varius sem. Nam non vestibulum orci. In eget imperdiet turpis, in eleifend nulla. Ut malesuada tincidunt nisl, vel interdum eros egestas rutrum.</div>
            <h2>Collaborateurs</h2>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tristique urna non nibh tristique, sed venenatis enim bibendum. Vestibulum mauris felis, tincidunt in hendrerit nec, tincidunt quis massa. Aenean eu volutpat quam. Proin bibendum sodales ante, quis ultrices lacus pellentesque ut. Etiam dignissim egestas auctor. Fusce ut tempor velit, eu varius sem. Nam non vestibulum orci. In eget imperdiet turpis, in eleifend nulla. Ut malesuada tincidunt nisl, vel interdum eros egestas rutrum.</div>
            
        </div>
    </article>
</section>
<footer class="container">
    <div class="credits petit-texte">
        L'artiste tient à remercier... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tristique
    </div>
</footer>
