<section id="oeuvres" class="container">
    <div class="grid">
        <div class="grid-sizer" style="width: 19%"></div>
        <div class="gutter-sizer" style="width: 1%"></div>
    </div>
</section>
<footer class="container">
</footer>
<script type="text/javascript">

var oeuvres = <%= @oeuvres %>,
    grid, msnry,
    chargement_termine = false,
    en_travail = { etat: false };

console.log(oeuvres);

</script>
