<section id="oeuvres" class="container">
    <div class="grid"> </div>
</section>
<footer class="container">
</footer>
<script type="text/javascript">
    var oeuvres = <%= @oeuvres %>,
        grid, msnry,
        nombre_colonnes = 6,
        gutter = 10,
        chargement_termine = false;
</script>
