<section id="oeuvres" class="container">
    <div class="grid"> </div>
</section>
<footer class="container">
</footer>
<script type="text/javascript">
    var oeuvres = <%= @oeuvres %>,
        grid, msnry,
        gutter = 10,
        images_at_loading = 50,
        images_at_scroll = 20,
        chargement_termine = false;

    var largeur = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
    var nombre_colonnes = largeur >= 500 ? 6 : 1;
</script>
