#biographie {
    text-align: center;
    padding: 20px;
}

#biographie .item * {
    margin-bottom: 10px;
}

@media screen and (min-width: 48em) {
    #biographie {
        display: grid;
        grid-template-columns: 47% 47%;
        grid-gap: 6%;

        text-align: justify;
        margin-bottom: 60px;
    }

    .item div {
        margin-bottom: 10px;
    }
}


