body {
    font-family: 'IBM Plex Mono';
    color: #0d0d0d;
    font-size: 1.3em;
}

header {
    height: 180px;
}

header * {
    height: inherit;
}

.middle * {
    line-height: 180px;
}

header ul {
    list-style-type: none;
}

header ul#aide li {
    float: right;
}

header ul li {
    display: inline;
}

#splash > img {
    width: 100%;
}

footer {
    height: 180px;
}

a {
    text-decoration: none;
    color: #0d0d0d;
}

a:hover {
    font-weight: bold;
    color: #0d0d0d;
}

.vert {
    color: #e0f2e9;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#logo {
    vertical-align: middle;
    max-height: 60px;
}

.petit-texte {
    font-size: 0.8em;
}


.credits {
    margin-top : 40px;
    border-top: 2px solid #0d0d0d;
    border-color: #e0f2e9;
    padding-top: 5px;
    display: inline-block;
}


