body {
    font-family: 'IBM Plex Mono';
    color: ;
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px;
}

.black { color: #0d0d0d; } .vert { color: #e0f2e9; } .blanc { color: white; }

header {
    height: 100px;
    position: relative;
}

#menu-responsive {
    position: absolute;
    left: 7%;
    right: 0;
    height: inherit;

    font-size: 0.8em;
    font-family: 'IBM Plex Mono';

    visibility: hidden;
    opacity: 0;

    background-color: white;

    z-index: 10;

    transition: opacity 1s;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

.affiche {
    visibility: visible !important;
    opacity: 1 !important;
}

a {
    font-family: 'IBM Plex Mono';
    color: #0d0d0d;
}

header a {
    text-decoration: none;
}

#hamburger img {
    width: 20px;
}

#aide, #sections-information {
    display: none;
}

.centrerY {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.centrerY-texte {
    line-height: 100px;
}

.centrerXY {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo {
    height: 50px;
}

#menu {
    float: right;
    width: calc(100% - 75px);
}

.credits {
    margin-top : 40px;
    border-top: 2px solid #0d0d0d;
    border-color: #e0f2e9;

    padding-top: 5px;

    display: inline-block;

    font-size: 0.8em;
}

/* -------- INDEX --------- */
#splash {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

#splash img {
    max-height: 70vh;
    max-width: 100%;
}

#splash h2 {
    font-size: 0.5em;
}

