h2 {
    text-align: center;
    font-size: 1.3em;
    margin-top: 50px;
}

#banner {
    position: relative;
}

.nav-arrow {
    position: absolute;
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-arrow a {
    width: 100%;
}

#nav-left {
    left: 0;
    z-index: 1;
}

#nav-right {
    right: 0;
    z-index: 2;
}

#presentation-image {
    width: 90%;
    margin: 0 auto;
}

@media screen and (min-width: 48em) {
    #presentation-image {
        width: 100%;
    }

    .nav-arrow {
        opacity: 0;
        transition: opacity 1s;
    }

    #banner:hover > .nav-arrow {
        opacity: 1;
    }

    #nav-left {
        background-image: linear-gradient(to right, white , rgba(0,0,0,0));
    }

    #nav-right {
        background-image: linear-gradient(to left, white , rgba(0,0,0,0));
    }
}
